body{
  font-family: Roboto,Arial;
}

.pizza-pic{
  width: 500px;
  height: 400px;
  object-fit: cover;
}
.tacos-pic{
  width: 500px;
  height: 400px;
  object-fit: cover;
}
.chef-pic{
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: right 10px;
}

.lasagna-pic{
  width: 500px;
  height: 400px;
}